@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brightred: #F25F3A;
  --darkred: #242D52;
  --grayblue: #9095A7;
  --darkblue: #1D1E25;
  --royalblue: #242d52;
  --normalgray: #a9aaaf;
  --palered: #ffc4b8;
  --lightgray: #FAFAFA;
  --silver: #d9d9d9;
  --mid: #979797;
  --smoke: #848884;
  --dark: #444444;
  --darker: #0A0708;
  --deep: #030303;
  --deeper: #000300;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: var(--deep);
    color: var(--silver);
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  ::-webkit-scrollbar {
    width: .75em;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dark);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--palered);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--brightred);
    transition-duration: 2s;
  }
}

@layer components {
  /*Flex Box Preset*/
  .centered {
      @apply flex flex-row justify-center items-center
  }

  .centered-col {
      @apply flex flex-col justify-center items-center
  }

  .spaced {
      @apply flex flex-row justify-between items-center
  }

  .spaced-col {
      @apply flex flex-col justify-between items-center
  }

  .evenly {
      @apply flex flex-row justify-evenly items-center
  }

  .evenly-col {
    @apply flex flex-col justify-evenly items-center
  }

  .invisilink {
      @apply relative collapse
  }

  /*Containers*/

  .section-container {
      @apply w-full min-h-[50vh] h-auto centered
  }

  .block-container {
    @apply xs:w-5/6 lg:w-4/5 desktop:w-4/5 h-auto
  }

  .portion-container {
    @apply min-h-[20vh] xs:min-h-[20vh] lg:h-[30vh] w-screen h-auto centered
  }

  .content-container {
    @apply h-[calc(100vh-4rem)] md:h-[calc(100vh-6rem)] centered-col md:centered w-full bg-white mt-16 md:mt-24
  }

  /*Transitions*/

  .easy-transition {
    @apply duration-300 ease-in-out hover:cursor-pointer
  }

  .slow-transition {
    @apply duration-700 ease-in-out hover:cursor-pointer
  }

  .slugish-transition {
    @apply duration-1000 ease-in-out hover:cursor-pointer
  }

  .bg-img {
    @apply bg-center bg-no-repeat
  }

  /*Site Styling*/
  .title {
    @apply xs:text-5xl xs:leading-snug font-bold desktop:text-6xl text-royalblue xs:text-center lg:text-left
  }

  .subtitle {
    @apply text-3xl xs:leading-snug font-bold text-royalblue xs:text-center md:text-left w-4/5 lg:w-full
  }

  .content {
    @apply text-normalgray text-xl leading-relaxed xs:text-center md:text-left
  }

  .hero-button {
    @apply p-4 w-40 h-12 bg-brightred text-lightgray rounded-full centered shadow-xl shadow-palered
  }

  /*Navbar Section*/
  .navbar-link {
    @apply text-darkblue
  }

  .sidebar-link {
    @apply text-darkblue w-full text-center text-2xl border-b-2 border-grayblue
  }

  /*Hero Section*/
  .hero-article {
    @apply flex flex-col xs:items-center lg:items-start space-y-8 py-8 xs:w-full lg:w-1/2
  }

  /**/

  .white-button {
    @apply bg-white text-brightred xs:p-4 lg:py-3 lg:px-3 xs:w-40 rounded-full font-semibold
  }

  /*Testimonials Section*/
  .testimonial-wrapper {
    @apply block-container centered-col
  }

  /*About Section*/
  .contact-title {
    @apply xs:text-5xl lg:text-3xl text-white xs:text-center lg:text-left w-96
  }

  .card-indicator {
    @apply bg-brightred text-lightgray px-4 py-2 rounded-full text-2xl w-20 centered
  }
  
  .card-subtitle {
    @apply text-royalblue xs:text-lg xs:font-bold
  }

  .card-content {
    @apply text-normalgray leading-relaxed text-lg lg:pl-24 lg:text-sm
  }

  /*Footer Section*/
  .social-media {
    @apply xs:w-10 xs:h-10 lg:h-5 lg:w-5 fill-white
  }

  .form-input {
    @apply bg-white rounded-full p-4 w-72 text-darkblue
  }

  .form-button {
    @apply bg-brightred p-4 rounded-full w-24 font-semibold text-white
  }

}